extends header


block content


	// Start Content Block 3-8
	section#content-3-8.content-block.content-3-8
		.container
			if locals.message
				.alert.alert-success
					a.close(href='#', data-dismiss='alert', aria-label='close') ×
					strong Success!
					|  #{locals.message}.
			if locals.error
				.alert.alert-danger
					a.close(href='#', data-dismiss='alert', aria-label='close') ×
					strong Error!
					|  #{locals.error}.

			.col-sm-12
				.underlined-title.text-left
					.editContent
						h1 Active Contests
					//
						hr
						.editContent
							h2
								| You'll 
								span.fa.fa-heart.pomegranate
								|  Bootstrap Starter Kit
	// // END Content Block 3-8
	// Start Basic 1-5
	section#basic-1-5.basic-1-5.content-block
		.container
			each item in data
				.row
					.col-md-4.col-sm-12
						.editContent
							h2 #{item.contest_name}
						.editContent
							p
								strong
									Time Created: #{item.time_created}
					.col-md-8.col-sm-12
						.editContent
							h2 Description
						.editContent
							p
								| #{item.description}
							p
								a.btn.btn-info(href='/contests/'+item.contest_id, role='button') View Problems
								//
									a.btn.btn-info(href='/download/'+item.download_file, role='button') Download data
			


			// /.row
		// /.container
	// // END Basic 1-5
	// Start Footer 1-1
	// // END Footer 1-1
	include footer