extends header


block content


    // Start Content Block 3-4
    section#content-3-4.content-block.content-3-4
        .container
            .row
                .col-md-7
                    img.img-responsive(src='images/camera-girl.jpg')
                    .editContent
                        h2 Conference competitions tracking
                    .editContent
                        p
                            | Description
                    .editContent
                .col-md-4.col-md-offset-1
                    #accordion1.panel-group
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a.panel-toggle(data-toggle='collapse', data-parent='#accordion1', href='#content2')
                                        .editContent
                                            span Active Contests
                            // /.panel-heading
                            #content2.panel-collapse.collapse.in
                                .panel-body
                                    .editContent
                                        #accordion.panel-group
                                            if(active[0])
                                                .panel.panel-default
                                                    .panel-heading
                                                        h4.panel-title
                                                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne1') #{active[0].contest_name}
                                                    #collapseOne1.panel-collapse.collapse
                                                        .panel-body
                                                            | #{active[0].descr}
                                                            br
                                                            | Ends: #{active[0].end_date}
                                                            br
                                                            a(href='/contests/'+active[0].contest_id+'/problems') See Details
                                            if(active[1])
                                                .panel.panel-default
                                                    .panel-heading
                                                        h4.panel-title
                                                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo1') #{active[0].contest_name}
                                                    #collapseTwo1.panel-collapse.collapse
                                                        .panel-body
                                                            | #{active[1].descr}
                                                            br
                                                            | Ends: #{active[1].end_date}
                                                            br
                                                            a(href='/contests/'+active[1].contest_id+'/problems') See Details
                                            if(active[2])
                                                .panel.panel-default
                                                    .panel-heading
                                                        h4.panel-title
                                                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree1') #{active[2].contest_name}
                                                    #collapseThree1.panel-collapse.collapse
                                                        .panel-body
                                                            | #{active[2].descr}
                                                            br
                                                            | Ends: #{active[2].end_date}
                                                            br
                                                            a(href='/contests/'+active[2].contest_id+'/problems') See Details
                                            if(!active[0])
                                                p Sorry! No active contests currently

                                // /.panel-body
                            // /.content
                        // /.panel
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a.panel-toggle.collapsed(data-toggle='collapse', data-parent='#accordion1', href='#content1')
                                        .editContent
                                            span Upcoming Contests
                            // /.panel-heading
                            #content1.panel-collapse.collapse
                                .panel-body
                                    .editContent
                                        #accordion.panel-group
                                            if(upcoming[0])
                                                .panel.panel-default
                                                    .panel-heading
                                                        h4.panel-title
                                                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') #{upcoming[0].contest_name}
                                                    #collapseOne.panel-collapse.collapse
                                                        .panel-body
                                                            | #{upcoming[0].descr}
                                                            br
                                                            | Starts: #{upcoming[0].start_date}
                                                            br
                                                            a(href='/contests/'+upcoming[0].contest_id+'/problems') See Details
                                            if(upcoming[1])
                                                .panel.panel-default
                                                    .panel-heading
                                                        h4.panel-title
                                                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo') #{upcoming[0].contest_name}
                                                    #collapseTwo.panel-collapse.collapse
                                                        .panel-body
                                                            | #{upcoming[1].descr}
                                                            br
                                                            | Starts: #{upcoming[1].start_date}
                                                            br
                                                            a(href='/contests/'+upcoming[1].contest_id+'/problems') See Details
                                            if(upcoming[2])
                                                .panel.panel-default
                                                    .panel-heading
                                                        h4.panel-title
                                                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree') #{upcoming[2].contest_name}
                                                    #collapseThree.panel-collapse.collapse
                                                        .panel-body
                                                            | #{upcoming[2].descr}
                                                            br
                                                            | Starts: #{upcoming[2].start_date}
                                                            br
                                                            a(href='/contests/'+upcoming[2].contest_id+'/problems') See Details
                                            if(!upcoming[0])
                                                p Sorry! No contests coming recently

                                // /.panel-body
                            // /.content
                        // /.panel
                        .panel.panel-default
                            .panel-heading
                                h4.panel-title
                                    a.panel-toggle.collapsed(data-toggle='collapse', data-parent='#accordion1', href='#content3')
                                        .editContent
                                            span Contact Details
                            // /.panel-heading
                            #content3.panel-collapse.collapse
                                .panel-body
                                    .editContent
                                        h4 TopRanker
                                    .editContent
                                        p
                                            | Thapar University,
                                            br
                                            | Patiala, Punjab
                                            br
                                            | Email: psrana@gmail.com, arushngpl16@gmail.com
                                            br
                                            | Phone: +91-9988090859
                                    // img.img-responsive(src='images/seagulls.jpg')
                                // /.panel-body
                            // /.content
                        // /.panel
                    // /.accordion
                // /.column
            // /.row
        // /.container
    section.content-block-nopad.bg-deepocean
        .container.footer-1-4
            .editContent
                h2
                    | Subscribe for 
                    strong Updates
            //
                .editContent
                    p.lead
                        a(href='#') Available exclusively at Android Market
            form.footer-form(action='#')
                input(type='text', name='', value='Your Email', placeholder='', required='')
                input(type='submit', name='', value='Subscribe')
    // // END Content Block 3-4
    
    // // END Footer 1-1
    include footer